* {
	padding: 0;
	margin: 0;
}

html {
	width: 140px;
	height: 100vh;
}

.attribution {
	font-size: 15px;
	text-align: center;
	color: black;
	position: absolute;
	margin-left: 650px;
	margin-top: 30px;
	font-family: "Rubik", sans-serif;
}

.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
}

.body {
	background-color: rgb(251, 251, 251);
	overflow-x: hidden;
	overflow-y: visible;
}

body {
	width: 100%;
	max-width: 1440px;
	height: 100vh;
}

.side-color {
	width: 100%;
	max-width: 30%;
	background-image: linear-gradient(-140deg, #e942ff -31%, #8838ff 100%);
	height: 90vh;
	border-radius: 0 0 200px 200px;
	left: -6%;
	position: absolute;
}

.mobile-design {
	width: 100%;
	max-width: 220px;
	position: absolute;
	background-color: #f5f3f7;
	height: 100%;
	max-height: 460px;
	left: 17%;
	top: 13%;
	border: 12px solid white;
	border-radius: 25px;
	z-index: 1;

	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 220px 0 rgba(0, 0, 0, 0.19);
}

.mobile-notch {
	width: 50%;
	height: 18px;
	background-color: white;
	position: absolute;
	left: 25%;
	top: -2%;
	border-radius: 3px 3px 11px 11px;
	align-items: center;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.top-part {
	background-image: linear-gradient(270deg, #e942ff, #8838ff);
	width: 100%;
	max-width: 300px;
	height: 70px;
	position: absolute;
	z-index: -1;
	border-radius: 12px 12px 8px 8px;
	top: -0.5%;
	margin: 0;
	padding: 0;
}

.top-part > img {
	width: 12%;
	border-radius: 50%;
	position: absolute;
	top: 40%;
	left: 14%;
	border: 1px solid white;
	align-items: center;
}

.arrow-icon {
	position: absolute;
	color: white;
	left: 5%;
	top: 49%;
	font-size: 1.1em;
	align-items: center;
}

.menu-icon {
	color: white;
	top: 52%;
	left: 90%;
	position: absolute;
	font-size: 0.71em;
	align-items: center;
}

.avatar-info {
	color: white;
	top: 42%;
	left: 30%;
	position: absolute;
	width: 100%;
}

.avatar-info > h2 {
	font-size: 0.78em;
	font-weight: 200;
	font-family: "Rubik", sans-serif;
}

.avatar-info > p {
	font-size: 0.54em;
	font-family: "Rubik", sans-serif;

	color: #d89eff;
}

#chats-left {
	color: #9241c8;
	left: 5%;
}

.left {
	font-family: "Rubik", sans-serif;
	position: absolute;
	max-width: 51%;
	background-color: #ebe8ed;
	left: 5%;
	max-width: 60%;
	text-align: left;
	border-radius: 10px 10px 10px 4px;
	line-height: 1.5;
	font-size: 0.53em;
	padding: 0.72em 0.65em 0.72em 1em;
}

.left-chat1 {
	top: 16.5%;
}

.left-chat2 {
	top: 25.8%;
}

.left-chat3 {
	top: 64%;
}

.right {
	font-family: "Rubik", sans-serif;
	position: absolute;
	max-width: 52%;
	background-color: white;
	left: 34%;
	text-align: left;
	border-radius: 10px 10px 4px 10px;
	line-height: 1.5;
	font-size: 0.53em;
	padding: 0.72em 0.65em 0.72em 1em;
}

.chat-right1 {
	top: 47%;
	left: 37%;
	color: #6e5d7e;
}

.chat-right2 {
	top: 56%;
	left: 60%;
	color: #6e5d7e;
}

.right-img {
	position: relative;
}

.right-img,
img {
	width: 100%;
	border-radius: 10px;

	max-width: 30%;
}

.img {
	position: absolute;
	top: 36%;
	left: 40%;
}

.chat {
	position: absolute;
	top: 76%;
	font-size: 0.43em;
	font-family: "Rubik", sans-serif;
	left: 5%;
	padding: 0.9em 0.95em 0.9em 1em;
	border-radius: 10px 10px 10px 4px;
	align-content: center;
	color: white;
	font-weight: lighter;
	background-image: linear-gradient(90deg, #e942ff 20%, #8838ff);
}

.price-chat2 {
	top: 83%;
}

b {
	position: relative;
	padding-left: 2.4em;
	padding-right: 1em;
	font-size: 1.73em;
	color: white;
}

.price-chat2 b {
	padding-left: 3.8em;
}

.circle-icon {
	font-size: 1.7em;
	position: relative;
	right: 2%;
	font-weight: 100;
	color: #e570ff;
}

.radio-button {
	align-content: center;
	width: 100%;
	max-width: 300px;
	height: 100%;
	display: inline-block;
	position: absolute;
}

.type-box {
	position: absolute;
	top: 91%;
	left: 5%;
}

.msg-btn {
	border: none;
	background-color: white;
	padding: 1.2em 0.78em;
	width: 27vmin;
	border-radius: 30px;
	font-family: "Rubik", sans-serif;
	font-size: 0.58em;
	color: #c6cacd;
	text-align: left;
	position: relative;
	display: block;
}

.msg-btn > input,
::placeholder {
	position: relative;
	left: 7%;
	font-family: "Rubik", sans-serif;
	font-size: 1.2em;
	color: #c6cacd;
	outline: none;
	border: none;
}

input {
	border: none;
	outline: none;
}

.right-icon {
	color: white;
	background-color: #3e2753;
	position: absolute;
	left: 86%;
	top: 12%;
	font-size: 0.8rem;
	width: 100%;
	max-width: 15px;
	height: 15px;
	border-radius: 50%;
	text-align: center;
	line-height: 18px;
	vertical-align: middle;
	padding: 5px;
}

.heading {
	position: absolute;
	width: 100%;
	left: 47%;
	top: 39%;
	font-family: "Rubik", sans-serif;
}

.heading > p {
	max-width: 36%;
	color: #a39daa;
	font-size: 1.1rem;
	font-weight: 100;
	line-height: 1.5;
}

.heading > h1 {
	font-size: 2.4rem;
	color: #3e2753;
	padding-bottom: 0.83em;
	font-weight: 700;
}

.right-color {
	width: 100%;
	max-width: 30%;
	background-color: #f7f7f7;
	height: 90vh;
	border-radius: 200px 200px 0 0;
	left: 77.5%;
	position: absolute;
	top: 16%;
	z-index: -1;
}

@media (min-width: 100px) and (max-width: 590px) {
	.side-color {
		top: -14%;
		left: -30%;
		max-width: 80%;
		border-radius: 0px 0px 900px 200px;
		position: absolute;
	}

	.attribution {
		font-family: "Rubik", sans-serif;
		width: 300px;
		font-size: 12px;
		color: black;
		position: relative;
		padding-top: 75em;
		padding-left: 2em;
		margin: 0;
		padding-bottom: 1em;
	}
	.attribution a {
		color: hsl(228, 45%, 44%);
		text-decoration: none;
	}

	.body {
		overflow-x: hidden;
		overflow-y: visible;
	}

	body {
		width: 100%;
		max-width: 375px;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: visible;
	}

	.mobile-design {
		align-content: center;
		justify-content: center;
		top: 10%;
	}

	.left {
		font-size: 0.43em;
		max-width: 20%;
	}

	.left-chat1 {
		top: 17%;
		max-width: 50%;
	}

	.left-chat2 {
		top: 26%;
		max-width: 50%;
	}

	.right {
		font-size: 0.46em;
	}

	.chat-right1 {
		left: 40%;
	}

	.chat-right2 {
		left: 62%;
	}

	.left-chat3 {
		top: 62%;
		max-width: 55%;
	}

	.price-chat1 {
		margin-top: 340px;
		top: 0%;
	}

	.price-chat2 {
		margin-top: 380px;
		top: 0%;
	}

	.msg-btn > input,
	::placeholder {
		font-size: 1em;
	}

	.msg-btn {
		width: 100%;
		height: 6px;
		left: -2%;
		padding-right: 3em;
	}

	.heading {
		left: 14%;
		align-content: center;
		justify-self: center;
		padding-top: 25em;
	}

	.heading > h1 {
		font-size: 2.3rem;
	}

	.heading > p {
		position: relative;
		font-size: 0.93rem;
		max-width: 80%;
		text-align: center;
		padding-bottom: 4em;
		right: 4%;
		line-height: 1.8;
	}

	.right-color {
		left: 85%;
		display: none;
	}

	.right-icon {
		top: 2%;
		left: 110%;
	}
}

@media (min-height: 730px) and (max-height: 823px) {
	.side-color {
		max-width: 80%;
		height: 100%;
		max-height: 630px;
		border-radius: 0px 0px 900px 200px;
		position: absolute;
	}

	.mobile-design {
		height: 100%;
		max-height: 460px;
	}

	.heading {
		padding-top: 20em;
	}

	.attribution {
		font-family: "Rubik", sans-serif;
		width: 300px;
		font-size: 12px;
		color: black;
		position: absolute;
		padding-top: 76em;
		padding-left: 4em;
		padding-bottom: 1.3em;
		margin: 0;
	}

	.attribution a {
		color: hsl(228, 45%, 44%);
		text-decoration: none;
	}
}
